// Fonts Variables
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

$heading-one: 4rem;
$hero-paragraph: 2rem;
$nav-links: 1.5rem;

$font-fira-sans: "Fira Sans", sans-serif;
$eb-garamond-serif: "EB Garamond", serif;
