.heroFlexContainer {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .aboutCopy {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
  }

  .heroProfileImage,
  .aboutProfileImage {
    .heroProfileImageWrapper {
      span {
        display: block !important;
      }
    }
  }

  .heroProfileImage,
  .aboutProfileImage {
    flex: 0 0 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}