.heroFlexContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .heroCopy {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .heroProfileImage {
    flex: 0 0 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
