.github {
  .container {
    text-align: center;

    .content {
      max-width: 50%;
      margin: 0 auto;
    }
  }

  .githubFlexContainer {
    max-width: 100%;
    flex-wrap: wrap;

    .githubProject {
      width: 50%;
    }
  }
}
