.github {
  .container {
    text-align: center;

    .content {
      max-width: 50%;
      margin: 0 auto;
    }

    .heroProfileImage {
      .heroProfileImageWrapper {
        span {
          display: block !important;
        }
      }
    }
  }

  .githubFlexContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      flex-direction: row;

      .githubProject {
        width: 50%;
      }
    }
  }
}
