.footer {
  background-color: hsl(225, 98%, 21%);
  min-height: 25vh;
  color: #e0d7d7;
}

.footerNav {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;

  ul.navList {
    display: flex;
    width: 45%;
    flex-direction: row;
    list-style: none;
    padding: 0;
    justify-content: space-around;
    // align-items: center;
    height: inherit;
  }
}

.signature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
