@use "./abstracts/variables";

:root {
  box-sizing: border-box;
  font-family: variables.$font-fira-sans, sans-serif;
  scroll-behavior: smooth;

  p,
  li {
    font-size: 22px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}
