@use "./abstracts/variables";

:root {
  box-sizing: border-box;
  font-family: variables.$font-fira-sans, sans-serif;
  scroll-behavior: smooth;

  p,
  li {
    font-size: 22px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

// Headings
.headingOne {
  font-size: variables.$heading-one;
}
.heroParagraph {
  font-size: variables.$hero-paragraph;
}

// Section styles
.sectionFlex {
  display: flex;
  flex-direction: column;
}

.sectionHeight {
  min-height: 100vh;
}

.sectionMargin {
  padding: 0 10px 20px;
}

// Media Queries

// Large Tablet/Small Laptop devices
@media (min-width: 1024px) {
  .sectionFlex {
    flex-direction: row;
  }
}