@use "fonts";
@use "font_styles";

// Headings
.headingOne {
  font-size: fonts.$heading-one;
}

.header {
  background-color: aquamarine;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: sticky;
  z-index: 2;
}

.nav {
  width: 50%;
  // height: 3rem;

  .navList {
    display: flex;
    list-style: none;
    justify-content: space-evenly;

    > * {
      font-family: font_styles.$font-fira-sans;
      font-size: fonts.$nav-links;
    }
  }
}

.main {
  min-height: 100vh;
  background-color: hsl(60, 100%, 62%);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  > * {
    flex: 1 0 33%;
  }
}

.footer {
  background-color: rgb(255, 127, 244);
  height: 15vh;
}

.container {
  animation-name: delayhomepageload;
  animation-duration: 2s;
  // position: absolute;
  width: 100%;
}

.mainMid {
  background-color: hsl(181, 100%, 62%);
  // height: 50px;
  display: flex;
}

@keyframes delayhomepageload {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
