.header {
  background-color: aquamarine;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 5vh;
  position: sticky;
  z-index: 2;
}

.nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.main {
  min-height: 100vh;
  background-color: hsl(60, 100%, 62%);
  display: flex;
  justify-content: space-around;
}

.footer {
  background-color: rgb(255, 127, 244);
  height: 15vh;
}

.container {
  animation-name: delayhomepageload;
  animation-duration: 2s;
  position: absolute;
  width: 100%;
}

@keyframes delayhomepageload {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
