@use "./abstracts/variables";
@use "./base/fonts";
@use "./abstracts/mixins";

// Headings
.headingOne {
  font-size: variables.$heading-one;
}

.heroParagraph {
  font-size: variables.$hero-paragraph;
}

.header {
  background-color: aquamarine;
}

// Flex
.sectionFlex {
  display: flex;
  flex-direction: column;
}

// Navigation component?.
.nav {
  width: 100%;
  font-size: variables.$nav-links;

  .navList {
    display: none;
  }

  .desktopNavListOpened {
    display: none;
  }

  .mobileNavListOpened {
    display: unset;

    ul {
      @include mixins.flex-nav-list();

      flex-direction: column;

      li {
        padding: 0.5rem 0;
      }
    }
  }
}

.main {
  min-height: 100vh;
  // background-color: hsl(60, 100%, 62%);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  > * {
    flex: 1 0 100%;
  }
}

.pageMargin {
  padding: 0 20px;
}

.about,
.github,
.portfolio {
  min-height: 70vh;
}

.aboutFlexContainer {
  z-index: 2;
  display: flex;
  width: 100%;

  .aboutCopy {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .aboutProfileImage {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

// .about {
//   // background-color: hsl(332deg 100% 62% / 54%);
// }

.footer {
  background-color: rgb(255, 127, 244);
  height: 15vh;
}

.container {
  animation-name: delayhomepageload;
  animation-duration: 1s;
  width: 100%;
}

.mainMid {
  background-color: hsl(181, 100%, 62%);
  display: flex;
}

.mobileHide {
  display: none;
}

.tabletHide,
.desktopHide {
  display: unset;
}

@keyframes delayhomepageload {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

// Media Queries:

// Tablet, Desktop, and above
@media (min-width: 768px) {
  .mobileHide {
    display: unset;
  }

  .tabletHide,
  .desktopHide {
    display: none;
  }

  .header {
    height: auto;
    position: sticky;
    z-index: 2;
  }

  .nav {
    display: flex;
    justify-content: space-between;

    .navList,
    .desktopNavListOpened {
      display: unset;
    }

    .navList,
    .mobileNavList,
    .desktopNavListOpened,
    .navListLogo {
      ul {
        @include mixins.flex-nav-list();
        flex-direction: row;
        align-items: center;

        li {
          padding: 0 1rem;
        }
      }
    }
  }

  .sectionFlex {
    flex-direction: row;
  }
}
